doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Online Draw My Thing')
    meta(name='author', content='Hello')
    link(rel='icon', href='/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    title=title

  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container-right
          #header-nav-bar
          .inner.cover
            .body-group
              #new-usr-form
              #about-info
          .mastfoot
            .inner
              p

    block content
    script(src='javascripts/build/app.js')
